/* 
  Home Component CSS File
*/

.pure-img.background {
  background: url("./background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items: center;
}

.pure-img.logo {
  width: 40%;
  /* padding-top: 10%; */
}

.home-container {
  position: fixed;
  /* top: 25%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

/* TYPOGRAPHY */
.home-container h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  padding-top: 5%;
}

.home-container p {
  font-size: 0.9em;
  padding-bottom: 5%;
}


/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width: 600px) {
  .home-container {
    position: unset;
  }
}

.pure-button.pure-button-active {
  background: black;
  color: white;
  font-family: 'Permanent Marker', cursive;
  border: none;
  margin: 2%;
  padding: 6%;
  width: 95%;
}