.app {
  height: 100vh;
  background: url('../../images/splash-bg.svg') center repeat;
  background-color: rgba(255, 184, 198, 0.219);
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}
