html,
body {
  height:100%;
  min-height: 100%;
}

.app {
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.app > div {
  margin: 0 auto;
}


h4, h5, p {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  padding-top: 6px;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: .9rem;
  padding-left: 1.5rem;
  padding: 1rem;
}

li {
  margin:5%;
}
  .body {
    background: url("../images/apricot.jpg");
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }

  .profile .header > a {
    width: 35%;
    margin: auto;
  }

  .logo {
    width: 40%;
    margin: 0;
  }

  .home .logo {
    width: 40%;
    margin: auto;
  }  
  .background {
    background-size: cover;
    height: 100%;
  }
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 3rem;
    margin: 0;
  }

  a.btn-link {
    color: #fff !important;
  }
  .pure-input-rounded {
    margin: .8rem auto;
    font-size: 1.2rem;
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    filter: opacity(75%);
    width: 80%;
  }
[class^='MuiPaper-root'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 25% !important;
  padding: 1rem;
  background: rgba(185, 185, 185, 0.8) !important;
}
/* Checkbox styles */
.organic {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem auto;
  padding-right: 6rem;
}
.organic h5 {
  line-height: 1rem;
  margin: auto;
}

.mapDrawTop {
  color: rgb(70, 70, 70);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  background: rgba(212, 212, 212, 0.8) !important;
  border-radius: 15px;
  margin: 0;
  margin-bottom: 10px;
}

.mapDrawTop p {
  color: black;
}

.mapDrawBottom {
  color: rgb(70, 70, 70);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  background: rgba(212, 212, 212, 0.8) !important;
  border-radius: 15px;
  margin: 0;
}

.mapDrawBottom p {
  color: black;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app {
    align-items: flex-start;
  }

  h4 {
    font-size: .7rem;
    text-align: center;
  }

  .home,
  .login {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
  }
  .body {
    background: url("../images/apricot.jpg");
  }
  .background {
    background-size: cover;
    height: 100%;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .header > a {
    width: 70%;
  }
  .home .logo,
  .login .logo,
  .register .logo {
    margin: auto;
  }

  /* Profile header */
  .profile .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .profile .header > a {
    display: block;
    height: 70px;
    margin: 0 4rem;
  }
  .profile .nav-bar {
    width: auto;
    padding-top: 1rem;
  }
  .container {
    padding: 3rem;
    text-align: center;
}
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95)
  }
  .pure-input-rounded {
    width: 400px;
  }
  .MuiPaper-root-52{
    width: 25% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .body {
    background: url("../images/apricot.jpg");
  }

  [class*="MuiFormControl-root"] {
    width: 50%;
  }

  .btn-group {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  button.btn {
    margin: 1rem;
    max-width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body {
    background: url("../images/apricot.jpg");
  }
  .btn-group {
    width: 75%;
  }
  button.btn {
    max-width: 150%;
  }
}

/* CTA Buttons */
.btn-group {
  width: 100%;
  justify-content: space-evenly;
}

button.btn {
  width: 200%;
}

/*
  Main Component CSS File
*/

a {
  color: normal;
  text-decoration: none;
}

.background-home,
.background-login,
.background-register,
.background-profile,
.background-area {
  background: url("../images/apricot.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px) brightness(70%);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display:flex;
  align-items: center;
}

.background-login {
  background: url("../images/avocado.jpg");
}

.background-register {
  background: url("../images/delicious.jpg");
}

.background-profile {
  background: url("../images/tea.jpg");
}

.background-area {
  background: url("../images/fruits.jpg");
}


.logo-small {
  width: auto;
  margin: auto;
}

footer {
  align-items: center;
}

.pure-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;

}

.pure-menu-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  margin: 3%;
}

.map  {
  position: relative;
  justify-content: center;
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}

.register-group {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}


.backtotop {
  margin: 3%;
}

/* CTA BUTTONS */
button {
  background: none;
  border: none;
  width: 100%;
  letter-spacing: 3px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

button.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  border: 1px solid transparent;
  margin: .5rem auto;
  padding: .8rem;
  width: 30%;
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.btn:hover,
.btn-primary:hover,
.btn-secondary:hover {
  color:white !important;
  background: transparent !important;
  border: 1px solid white;
}

.btn-primary {
  background: #81b82f !important;
}

.btn-secondary {
  background: #659026 !important;
}

.btn-third {
  background: #659026 !important;
  font-size: .6rem !important;
  margin: 0;
  width: 50% !important;
}

.btn-forth {
  background: transparent !important;
  border: 1px solid white !important;
  font-size: .7rem !important;
  margin: 0;
  width: 100%;
}

.btn--nav {
  background: none;
  border: none;
  width: 100%;
}



/* .btn[disabled] {
  color: gray !important;
  background: #eaeaea !important;
  border: 1px solid transparent !important;
} */

.btn--fab {
  background: rgba(0,0,0,.7) !important;
  color: #fff !important;
}

/* FAB BUTTON LABEL */
.fab-label--right {
  margin-left: 1rem;
}

.fab-label--left {
  margin-right: 1rem;
}

/* BUTTON ICONS */
.btn i.fas {
  margin-right: 1rem !important;
}



/* Form elements */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class*="MuiFormControl-root"] {
  width: 70%;
  margin: 2rem auto !important;
}


.product {
  display: flex;
  align-content: center;
  text-align: center;
  font-size: 1.5em;
  line-height: 0;
  padding-top: 1em;
}

.products {
  align-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.profile {
  width: 70%;
}

.register {
  width: 50%;
}

.area {
  width: 100%;
}

.area .nav-bar {
  width: auto;
  padding-top: 1rem;
  padding-right: 100px;
  padding-top: 0;
}

.header {
  flex-direction: row;
  justify-content: space-between;
}

.area-logo {
  width: 17%;
  padding-left: 160px;
}


.area .header > a {
  display: block;
  height: -70px;
  margin: 0 4rem;
}
.area .nav-bar {
  width: auto;
  padding-top: 1rem;
}

.fas fa-user fa-1x {
  padding-right: 2px;
}

.logo-login {
  padding-left: 210px;
  width: 50%;
}

.eater {
  width: 70%;
  padding-left: 110px;
  margin: 20px;
}