/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .body {
    background: url("../images/apricot.jpg");
  }
  .background {
    background-size: cover;
    height: 100%;
  }
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95)
  }
}


/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body {
    background: url("../images/apricot.jpg");
  }
  .background {
    background-size: cover;
    height: 100%;
  }
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95)
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .body {
    background: url("../images/apricot.jpg");
  }

  .logo {
    width: 25%;
  }

  [class*="MuiFormControl-root"] {
    width: 50%;
  }

  .btn-group {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  button.btn {
    margin: 1rem;
    max-width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .body {
    background: url("../images/apricot.jpg");
  }
  .btn-group {
    width: 75%;
  }
  button.btn {
    max-width: 150%;
  }
}

  /* CTA Buttons */
  .btn-group {
    width: 100%;
    justify-content: space-evenly;
  }

  button.btn {
    width: 200%;
  }

/*
  Main Component CSS File
*/

a {
  color: normal;
  text-decoration: none;
}

.background-home {
  background: url("../images/apricot.jpg");
  background-color: grey;
  background-position: center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px) brightness(70%);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display:flex;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

  .background-login {
    background: url("../images/avocado.jpg");
    background-color: grey;
    background-position: center;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(3px) brightness(70%);
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display:flex;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }

    .background-register {
      background: url("../images/delicious.jpg");
      background-color: grey;
      background-position: center;
      position: absolute;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      filter: blur(3px) brightness(70%);
      min-height: 100vh;
      height: 100%;
      width: 100vw;
      display:flex;
      align-items: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      }

    .background-profile {
      background: url("../images/tea.jpg");
      background-color: grey;
      background-position: center;
      position: absolute;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      filter: blur(3px) brightness(70%);
      min-height: 100vh;
      height: 100%;
      width: 100vw;
      display:flex;
      align-items: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      }

      .background-area {
        background: url("../images/fruits.jpg");
        background-color: grey;
        background-position: center;
        position: absolute;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(3px) brightness(70%);
        min-height: 100vh;
        height: 100%;
        width: 100vw;
        display:flex;
        align-items: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        }

.logo {
  width: 40%;
  margin: auto;
  padding-top:5%;
}

.logo-small {
  width: 25%;
  margin: auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 7rem;
  filter: blur(-3px);
}

footer {
  align-items: center;
}

.pure-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;

}

.pure-menu-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  margin: 3%;
}

.map  {
  position: relative;
  justify-content: center;
  margin: 1%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}

p,
.register-group {
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h5 {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.backtotop {
  margin: 3%;
}

/* CTA BUTTONS */
button {
  background: none;
  border: none;
  width: 100%;
  letter-spacing: 3px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

button.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  border: 1px solid transparent;
  margin: .5rem auto;
  padding: .8rem;
  width: 30%;
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.btn:hover,
.btn-primary:hover,
.btn-secondary:hover {
  color:white !important;
  background: transparent !important;
  border: 1px solid white;
}

.btn-primary {
  background: #81b82f !important;

}

.btn-secondary {
  background: #659026 !important;
}


.btn--nav {
  background: none;
  border: none;
  width: 100%;
}


.pure-input-rounded {
  margin: 1%;
  font-size: 1.2rem;
  color: rgb(70, 70, 70) !important;
  font-family: 'Montserrat', sans-serif;
  filter: opacity(50%);
  width: 35%;
}

/* .btn[disabled] {
  color: gray !important;
  background: #eaeaea !important;
  border: 1px solid transparent !important;
} */

.btn--fab {
  background: rgba(0,0,0,.7) !important;
  color: #fff !important;
}

/* FAB BUTTON LABEL */
.fab-label--right {
  margin-left: 1rem;
}

.fab-label--left {
  margin-right: 1rem;
}

/* BUTTON ICONS */
.btn i.fas {
  margin-right: 1rem !important;
}



/* Form elements */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
} */

[class*="MuiFormControl-root"] {
  width: 70%;
  margin: 2rem auto !important;
}




