/*
  Main Component CSS File
*/
body {
  background: #fafafa;
}
a {
  color: normal;
  text-decoration: none;
}
.background {
  background: url("../images/apricot.jpg");
  background-position: center center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px) brightness(70%);
  min-height: 100vh;
  height: auto;
  width: 100vw;
  display:flex;
  align-items: center;

  }

.logo {
  width: 350px;
  margin: auto;
  padding-top:30%;
}

.container,
.container-login
.container-register {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 5rem;
  filter: blur(-3px);
}

/* TYPOGRAPHY */
/* h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bolder;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  text-align: center;
  letter-spacing: 8px;
} */

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 3%;
  color: white;
  text-align: center;
  letter-spacing: 6px;
}

p,
.register-group,
.btn-link {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.footer {
  padding-top: 10%;
}
pp {
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

/* CTA BUTTONS */
button {
  background: none;
  border: none;
  width: 100%;
  letter-spacing: 3px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

button.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border: 1px solid transparent;
  margin: .5rem auto;
  padding: .8rem;
  width: 40%;
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.btn--primary {
  background: #81b82f !important;
}

.btn--secondary {
  background: #659026 !important;
}

.btn[disabled] {
  color: gray !important;
  background: #eaeaea !important;
  border: 1px solid transparent !important;
}

.btn--fab {
  background: rgba(0,0,0,.7) !important;
  color: #fff !important;
}

/* FAB BUTTON LABEL */
.fab-label--right {
  margin-left: 1rem;
}

.fab-label--left {
  margin-right: 1rem;
}

/* BUTTON ICONS */
.btn i.fas {
  margin-right: 1rem !important;
}

.btn:hover {
  color: rgba(0,0,0,.87) !important;
  background: rgba(255,255,255,.9) !important;
  border: 1px solid rgba(0,0,0,.87);
}

/* Form elements */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__field::placeholder {
  color: transparent;
}

[class*="MuiFormControl-root"] {
  width: 70%;
  margin: 2rem auto !important;
}




/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width: 768px) {
  .background {
    /* background: url("../images/splash-bg.svg"); */
    background-size: 400px;
    background-repeat: repeat;
  }
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95)
  }

  /* CTA Buttons */
  .btn-group {
    width: 100%;
    justify-content: space-evenly;
  }

  button.btn {
    width: 250px;
  }
}

/* DESKTOP */
@media screen and (min-width: 988px) {
  .logo {
    width: 25%;
  }

  [class*="MuiFormControl-root"] {
    width: 50%;
  }

  .btn-group {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  button.btn {
    margin: 1rem;
    max-width: 200px;
  }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1320px) {
  .btn-group {
    width: 75%;
  }
  button.btn {
    max-width: 300px;
  }
}
