/* 
  Main Component CSS File
*/
a {
  color: normal;
  text-decoration: none;
}
.background {
  background: url("../images/splash-bg.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: repeat;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display:flex;
  align-items: center;
}

.logo {
  width: 150px;
  margin: auto;
}

.home-container,
.register-container,
.login-container {
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 4rem 2rem;
}

/* TYPOGRAPHY */
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  padding-top: 5%;
}

.home-container p {
  font-size: 1.4rem;
  padding-bottom: 5%;
}

/* CTA BUTTONS */
button {
  background: none;
  border: none;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

button.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 100;
  color: white;
  border: 1px solid transparent;
  margin: 1rem auto;
  padding: 1rem;
  width: 70%;
  -webkit-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
  transition: color .3s ease-in-out, background .3s ease-in-out, border .3s ease-in-out;
}

.btn--primary {
  color: white !important;
  background: #000 !important;
}

.btn--secondary {
  background: rgb(212, 212, 212) !important;
  color: #000 !important;
  border: 1px solid rgb(212, 212, 212);
}

.btn[disabled] {
  color: gray !important;
  background: #eaeaea !important;
  border: 1px solid transparent !important;
}

/* BUTTON ICONS */
.btn i.fas {
  margin-right: 1rem !important;
}

.btn:hover {
  color: rgba(0,0,0,.87) !important;
  background: rgba(255,255,255,.9) !important;
  border: 1px solid rgba(0,0,0,.87);
}

/* Form elements */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[class*="MuiFormControl-root"] {
  width: 70%;
  margin: 2rem auto !important;
}



/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width: 768px) {
  .background {
    /* background: url("../images/splash-bg.svg"); */
    background-size: 400px;
    background-repeat: repeat;
  }
  .home-container,
  .register-container,
  .login-container {
    position: unset;
    margin: auto;
    background: rgba(255, 255, 255, 0.95)
  }

  /* CTA Buttons */
  .btn-group {
    width: 100%;
    justify-content: space-evenly;
  }

  button.btn {
    width: 250px;
  }
}

/* DESKTOP */
@media screen and (min-width: 988px) {
  .logo {
    width: 25%;
  }

  [class*="MuiFormControl-root"] {
    width: 50%;
  }

  .btn-group {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  button.btn {
    margin: 1rem;
    max-width: 200px;
  }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1320px) {
  .btn-group {
    width: 75%;
  }
  button.btn {
    max-width: 300px;
  }
}